<!DOCTYPE html>
<html lang="{% block lang %}{% endblock %}">
    <head>
        <title id="{% block title_id %}{% endblock %}">De vinos | {% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block js_head %}{% endblock %}
        {% block ie %}{% endblock %}
        {% block icons %}<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />{% endblock %}        
    </head>
    <body id="{% block id '' %}" class="{% block class '' %}">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>