<div class="section" style="background: #333; color: #eee; padding: 0">
	<div class="container">
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Raquel Olivas Verdejo {{ "now"|date("Y") }}</p>
				</div>
			</div>
		</footer>
	</div><!-- /.container -->
</div>
