<div class="section" style="background: #333; color: #eee; padding: 0">
	<div class="container">
		<footer>
			<div class="row">
				<div class="col-xs-6">
					<p>&copy; {{ "now"|date("Y") }} Raquel Olivas Verdejo</p>
				</div>
				<div class="col-xs-6 col-sm-offset-3 col-sm-3">
					<ul class="list-unstyled list-inline list-social-icons pull-right">
						<li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
						<li class="tooltip-social linkedin-link"><a href="http://es.linkedin.com/in/raquelolivasverdejo" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
						<li class="tooltip-social twitter-link"><a href="https://twitter.com/racheverdejo" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
						<li class="tooltip-social google-plus-link"><a href="https://profiles.google.com/u/0/116471812367206623209/about" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div><!-- /.container -->
</div>
