nav {
	-webkit-box-shadow: 0 4px 17px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 0 4px 17px 0 rgba(0,0,0,0.75);
	box-shadow: 0 4px 17px 0 rgba(0,0,0,0.75);
}

.carousel {
	height: 35%;
}

.puntos {
	position: absolute;
  top: 80px;
  right: 10px;
}

.img_blog {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height:300px;
}

.img_wine {
	border-radius: 4px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height:480px;
	width: 100%;
}

.article img {
	width: 100%;
}

.share-button {
	margin: auto; position: relative; top: 0; left: 0; bottom: 0; right: 0;
}

.map_canvas {
	border: 2px solid #dd4814;
	border-radius: 4px;
	height: 300px;
	width: 100%;
}

.share-button.sharer-0 label {
	color:#FFF !important;
	background-color:#dd4814 !important
}

/**** CAPTCHA STYLES *******/
.captcha_reload {
	color: #ffffff;
	background-color: #dd4814;
	border-color: #dd4814;
	display: inline-block;
	margin-bottom: 0;
	margin-left: 5px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.captcha_reload:hover {
	color: #ffffff;
	background-color: #b83c11;
	border-color: #a5360f;
	text-decoration: none;
}
